/* font */
@font-face {
    font-family: 'Poppins-Black';
    src: url('../assets/font/Poppins-Black.ttf');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../assets/font/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'Poppins-Italic';
    src: url('../assets/font/Poppins-Italic.ttf');
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../assets/font/Poppins-Medium.ttf');
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../assets/font/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('../assets/font/Poppins-Regular.ttf');
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	color: #0b032d;
	background: #f7f7f7;
	width: 100%;
	max-height: calc(100vh - 56px);
	overflow-y: auto;
	position: sticky;
}

/* sidebar */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	background: #8f8f8f;
	z-index: 2000;
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	height: 56px;
	display: flex;
	align-items: center;
	color: white;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 500;
	box-sizing: content-box;
	font-family: 'Poppins-Black';
	background: #25a22b;
}
#sidebar .brand .logo-pic {
	margin-left: 20px;
	margin-right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar-pic {
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
	font-family: 'Poppins-Medium';
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: #f7f7f7;
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 #f7f7f7;
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 #f7f7f7;
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: white;
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: #25a22b;
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: white;
}
#sidebar .side-menu.top li a:hover {
	color: #25A22B;
}
#sidebar .side-menu li a:hover {
	color: #25A22B;
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
#content {
	position: relative;
	width: calc(100% - 200px);
	left: 200px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}
#content nav {
	height: 56px;
	background: #25a22b;
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
}
#content nav .profile  {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}
.menu-pic {
	cursor: pointer;
}
.user {
	font-size: 20px;
	color: white;
	font-family: 'Poppins-Bold';
}

/* content */
.main-content {
	align-items: center;
	font-size: 40px;
	line-height: 2.5rem;
	margin-top: 10px;
	color: #25a22b;
	font-family: 'Poppins-Black';
}
#datetime {
	font-size: 1rem;
	top: 0;
	right: 0;
	margin-right: 15px; 
	text-align: right;
	color: black; 
	font-family: 'Poppins-Regular';
}
.p4 {
	margin-bottom: 30px;
	font-size: 50px;
	text-align: center;
}

/* content */
#buttons {
	margin-left: 20px;
	align-items: left;
	display: inline-flex;
}
#add-btn {
	margin-right: 10px;
	padding: 5px 15px 5px;
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
	border: none;
	align-items: left;
	font-family: 'Poppins-Bold';
	color: white;
	background-color: #25a22b;
}
#refresh-btn {
	height: fit-content;
	margin-left: 50px;
	margin-right: 10px;
	margin-top: 8px;
	padding: 5px 15px 5px;
	font-size: 20px;
	border-radius: 10px;
	cursor: pointer;
	border: none;
	align-items: left;
	font-family: 'Poppins-Bold';
	color: white;
	background-color: #25a22b;
}
.refresh{
	font-size: 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	color: red;
}

#add-btn:hover, #refresh-btn:hover {
	background-color: #8f8f8f;
}
#dl-btn {
	width: 55px;
	height: 40px;
	margin-top: 6px;
	padding-top: 5px;
	padding-left: 4px;
	border-radius: 10px;
	cursor: pointer;
	border: none;
	align-items: left;
	font-family: 'Poppins-Bold';
	color: white;
	background-color: #8f8f8f;
}
#dl-btn:hover {
	background-color: #25a22b;
}

/*pop up*/
h4 {
	text-align: center;
	font-family: 'Poppins-Black';
	font-size: 30px;
	font-family: "poppins black", sans-serif;
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}
h6 { 
	font-family: 'Poppins-Italic';
	text-align: center;
	font-size: 15px;
    font-weight: 400;
    margin-top: -20px;
}
.box {
	text-align: center;
}
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000000cc;
	transition: opacity 200ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.wrapper {
	margin: 70px auto;
	padding: 10px 10px;
	background: #ffffff;
	border-radius: 15px;
	width: 28%;
	position: relative;
	transition: all 5s ease-in-out;
	
}
.wrapper .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	text-decoration: none;
	color: #8F8F8F;
	font-family: 'Poppins-Regular';
}
.wrapper .close:hover {
	color: #25A22B;
}
.wrapper .content {
	max-height: 350px;
	overflow: scroll;
	
}
.add {
	font-size: 18px;
	font-family: 'Poppins-SemiBold';
	color: white;
	background: #25A22B;
	border-radius: 10px;
	width: 20%;
	margin-left: 22%;
	margin-top: 20px;
	padding: 7px;
	border: none;
	outline: none;
	cursor: pointer;
}
.cancel {
	font-size: 18px;
	font-family: 'Poppins-SemiBold';
	color: white;
	background: #8F8F8F;
	border-radius: 10px;
	width: 27%;
	padding: 7px;
	margin-left: 30px;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 5s ease-in-out;
}
.popup-container {
	border-radius: 5px;
	background-color: #ffffff;
	padding: 10px 0;
}
.select-menu{
    width: 95%;
	border: 1px solid #8F8F8F;
	border-radius: 7px;
	box-sizing: border-box;
	margin: 6px 5px 16px;
	resize: vertical;
	padding-left: 7px;
}
.select-menu .select-btn{
    display: flex;
    background: #fff;
    padding: 2px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
}
.sBtn-text{
	font-size: 13px;
	color: black;
	margin-right: -40px;
	font-family: 'Poppins-Regular';
}
.select-btn i{
    font-size: 13px;
    transition: 0.3s;
	margin-left: 75%;
	color: #8F8F8F;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
	font-size: 13px;
    position: absolute;
    padding: 10px;
	margin-left: -8px;
    margin-top: 8px;
    border-radius: 8px;
    background: #fff;
    display: none;
	width: 73%;
	border: 1px solid #8F8F8F;
}
.select-menu.active .options{
    display: block;
}

.options .option{
    display: flex;
    cursor: pointer;
    padding: 3px 15px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
	color: black;
}
.options .option:hover{
    background: #EBEBEB;
}
.option .option-text{
    font-size: 15px;
    color: black;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: 'Poppins-Regular';
}
form label {
	font-size: 15px;
	font-family: "poppins semibold", sans-serif;
	padding-left: 5px;
}

.tagalog{
	font-family: 'Poppins-Regular';
	font-size: 15px;
}
input[type=text], [type=date], [type=number], select {
	width: 95%;
	font-family: 'Poppins-Regular';
	padding: 12px;
	font-family: "poppins";
	padding: 7px;
	border: 1px solid #8F8F8F;
	border-radius: 7px;
	box-sizing: border-box;
	margin-left: 5px;
	resize: vertical;
	font-size: 15px;
}

::placeholder {
	color: #8F8F8F;
	font-family: 'Poppins-Regular';
	font-size: 15px;
}  
.qty input[type=text] {
	width: 30%;	
	font-family: 'Poppins-Regular';
	padding: 8px 12px;
	font-family: "poppins", sans-serif;
	padding: 5px;
	border: 1px solid #8F8F8F;
	border-radius: 7px;
	box-sizing: border-box;
	margin-left: 5px;
	resize: vertical;
}
.qty .unit {
	margin-left: 6px;
	color: black;
	font-size: 10px;
	font-family: 'Poppins-SemiBold';
	font-size: 18px;
	font-family: "poppins", sans-serif;
}

/* inventory content */
#inventory-content {
	margin: 20px;
}
#inventory-table {
	align-items: center;
	min-width: 500px;
	width: 1450px;
	margin: 25px 0;
	border: #8f8f8f solid 1px;
	border-collapse: collapse;
	color: black;
}
#inventory-table thead tr {
	text-align: left;
	background-color: white;
}
#inventory-table th {
	padding: 5px 10px;
}
#table-title {
	font-size: 18px;
	font-family: 'Poppins-Bold';
}
#table-titleslash {
	font-size: 15px;
	font-style: italic;
	font-family: 'Poppins-Regular';
}
.table-contents{
	font-size: 17px;
	text-align: center;
	font-family: 'Poppins-Regular';
}
/*popup*/
h2 {
	text-align: center;
	font-family: "poppins black", sans-serif;
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 23px;
}
h3 {
	font-style: italic;
	font-family: "poppins", sans-serif;
	text-align: center;
	font-size: 15px;
    font-weight: 400;
}
.box {
	text-align: center;
}
.modal-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000000cc;
	color:#25A22B;
	transition: opacity 200ms;
	visibility: hidden;
	opacity: 0;
}
.modal-overlay:target {
	visibility: visible;
	opacity: 1;
}
.modal-wrapper {
	margin: 15% auto;
	padding: 20px;
	background: white;
	border-radius: 15px;
	width: 35%;
	height: 25%;
	position: relative;
	transition: all 5s ease-in-out;
}
.modal-wrapper .content {
	max-height: 30%;
	overflow: auto;
}

.yes {
	font-size: 18px;
	font-family: "poppins semibold", sans-serif;
	color: white;
	background: #25A22B;
	border-radius: 10px;
	width: 20%;
	margin-left: 25%;
	margin-top: 91px;
	margin-bottom: 12px;
	padding: 7px 15px;
	border: none;
	outline: none;
	cursor: pointer;
	position: absolute;
}

.no {
	font-size: 18px;
	font-family: 'Poppins-SemiBold';
	color: white;
	background: #8F8F8F;
	border-radius: 10px;
	width: 20%;
	margin-top: 80px;
	padding: 7px;
	border: none;
	outline: none;
	cursor: pointer;
	margin-left: 50%;
	position: absolute;
}

/*logout*/
.logout-text{
	display: flex;
	position: absolute;
	margin-top: -25px;
	margin-left: 45px;
}

.popup-container {
	border-radius: 5px;
	background-color: #ffffff;
	padding: 20px 0;
}


/* footer */
#footer {
	padding: 15px;
	padding-left: 250px;
	padding-right: 50px;
	margin-top: auto;
	display: flex;
	color: white;
	background-image: linear-gradient(to right, #25a22b, #75E463)
}
img {
	margin-right: 5px;
}
#footer .footer-text{
	line-height: 1rem;
	margin-left: 1rem;
}
.p1 {
	font-size: 15px;
	font-family: 'Poppins-Bold';
}
.p2 {
	font-size: 13px;
	font-family: 'Poppins-SemiBold';
}
.p3 {
	font-size: 11px;
	font-family: 'Poppins-Regular';
}

@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}
@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}