/* font */
@font-face {
    font-family: 'Poppins-Black';
    src: url('./assets/font/Poppins-Black.ttf');
}
@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('./assets/font/Poppins-ExtraLight.ttf');
}


:root {
    --primary-color: #027202;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(0, 0, 0);
    color: white;
    font-size: 1.5rem;
}

h1, h2, h3, h4 {
    line-height: 3rem;
}
a {
    text-decoration: none;
    color: white;
}
ul {
    list-style: none;
}
#logo-pic {
   cursor: pointer;
}

/*header section*/

.main-header {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(./assets/images/landing-bg.png) no-repeat center center/cover;
}
.main-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(55, 58, 55, 0.76);
    z-index: 1;
}
.header-top {
    position: fixed;
    height: 10%;
    z-index: 2;
}
@keyframes bounce {
    65%, 80% {
        transform: translateY(-15px);
    }
}
.header-top:hover{
    animation: bounce 1s linear;
}
.header-top .logo {
    margin: 18rem 48rem;
    position: fixed;
    transform: translate(-50%,-50%);
}
.header-content {
    margin-top: 26rem;
    margin-left: 37rem;
    z-index: 2;
    position: fixed;
    display: block;
    text-align: center;
}
.header-content h1 {
    font-size: 5rem;
    line-height: 1.3rem;
    margin: 0 0 2rem;
    font-family: 'Poppins-Black';
}
.header-content h4 {
    font-size: 1.48rem;
    line-height: 1rem;
    font-family: 'Poppins-ExtraLight';
}