/* font */
@font-face {
    font-family: 'Poppins-Black';
    src: url(../assets/font/Poppins-Black.ttf);
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url(../assets/font/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url(../assets/font/Poppins-ExtraLight.ttf);
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 60px;
    font-family:'Poppins-Black';
}
h2 {
    font-size: 1rem;
    margin-top: 10px;
    font-family:'Poppins-Bold';
}
p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 15px;
    font-style: italic;
    font-family:'Poppins-ExtraLight';
}
body {
	/*background: linear-gradient(to bottom left, #25A22B, #FFFFFF);*/
    background-image: url("../assets/images/reg-bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: 100%;
    background-size: cover;
}
.logo {
    padding: 0;
}
.container {
	max-width: 500px;
	height: 600px;
	margin: 55px auto;
	padding: 5px auto;
	border-radius: 10px;
	box-shadow: -8px 8px 8px #43434380;  
    font-size: 1.345rem;
	font-weight: 700;
	margin-bottom: 5px;
    border-radius: 10px;
	text-align: center;
    color: #25a22b;
    background-color: whitesmoke;
}
.container .logo {
	padding-top: 30px;
}
hr.rounded {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 0.5px solid #cac1c1;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}
button {
    width: 75%;
    font-size: 2rem;
    margin: 4px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
    font-family:'Poppins-Black';
    background-color: #25A22B;
}
.btn1 {
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.btn2 {
    padding-left: 108px;
    padding-right: 108px;
    margin-bottom: 10px;
}
.btn3 {
    padding-left: 54px;
    padding-right: 54px;
    margin-bottom: 20px
}
button:hover {
    background-color: #8f8f8f;
    transition-duration: 0.1s;
}
