/* font */
@font-face {
    font-family: 'Poppins-Black';
    src: url(../assets/font/Poppins-Black.ttf);
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url(../assets/font/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url(../assets/font/Poppins-ExtraLight.ttf);
}
@font-face {
    font-family: 'Poppins-Italic';
    src: url(../assets/font/Poppins-Italic.ttf);
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url(../assets/font/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(../assets/font/Poppins-SemiBold.ttf);
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
p {
    font-size: 1rem;
    margin-top: 0;
    font-family:'Poppins-Italic';
}

body{
	/*background: linear-gradient(to bottom left, #25A22B, #FFFFFF);*/
    background-image: url("../assets/images/reg-bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 100%;
    background-size: cover;
}
.container{
	max-width: 500px;
	height: 600px;
	padding: 60px auto;
	margin: 55px auto;
	border-radius: 10px;
	box-shadow: 8px 8px 8px rgba(0,0,0,0.5);
	background-color: whitesmoke;
}
.back {
    margin-left: 20px;
    padding: 10px;
	font-family: 'Poppins-Regular';
    color: #25a22b;
}
.back a{
    text-decoration: none;
    color: #25a22b;
}
.back a:hover{
	color: black;
	text-decoration:underline;
}
.register {
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 3px;
	color: #25a22b;
	text-align: center;
	font-family:'Poppins-Black';
}
.logo-title {
    display: inline-flex;
}
.logo-title h3 {
    margin-left: 5px;
}
.rounded {
    border-top: 0.5px solid #cac1c1;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}
.regTitle {
	font-size: 1.8rem;
    margin-top: 10px;
    margin-bottom: 20px;
	text-align: center;
    font-family:'Poppins-ExtraLight';
}
.form {
	padding-bottom: 0;
	margin-bottom: 0;
	margin-left: 50px;
}
.form label {
	width: 150px;
	margin-bottom: 0;
	margin-right: 10px;
	font-size: 1rem;
    font-family: 'Poppins-SemiBold';
    color: #25a22b;
}
.input {
    width: 400px;
	padding: 5px;
	border: none;
	outline: none;
	border-radius: 8px;
	text-indent: 10px;
    font-size: 1rem;
    font-family: 'Poppins-Regular';
	display: flex;
    background-color: rgb(224, 217, 217);
}
.proceedBtn {
	width: 150px;
	margin-top: 10px;
    margin-left: 125px;
    padding: 5px;
	border-radius: 20px;
    font-size: 1.5rem;
	background-color: #25a22b;
	color: white;
	border: none;
	border-radius: 8px;
	align-content: center;
	justify-self: center;
	cursor: pointer;
	font-family: 'Poppins-Bold';
}
.proceedBtn:hover {
	opacity: 0.8;
    color: white;
	background-color: #8f8f8f;
}
.container .form .submitBtn:hover {
	background-color: #5fec5f;
	opacity: 0.8;
	color: black;
}
.homepage {
	width: 250px;
	font-size: 1rem;
	margin-left: 25%;
	margin-bottom: 20px;
	margin-top: 30px;
	padding: 8px 8px;
	background-color: #25a22b;
	border: none;
	border-radius: 8px;
	align-content: center;
	justify-self: center;
	text-align: center;
	cursor: pointer;
	font-family: 'Poppins-Bold', sans-serif;
}
.homepage:hover{
	background-color: #5fec5f;
	opacity: 0.8;
	color: black;
}
.homepage a{
	text-decoration: none;
	color: black;
}