/* font */
@font-face {
    font-family: 'Poppins-Black';
    src: url('../assets/font/Poppins-Black.ttf');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('../assets/font/Poppins-Bold.ttf');
}
@font-face {
    font-family: 'Poppins-Italic';
    src: url('../assets/font/Poppins-Italic.ttf');
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../assets/font/Poppins-Medium.ttf');
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../assets/font/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('../assets/font/Poppins-Regular.ttf');
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	color: #0b032d;
	background: #f7f7f7;
	max-height: calc(100vh - 56px);
	overflow-y: auto;
	position: sticky;
}

#content {
	position: relative;
	width: 100%;
	justify-content: center;
	align-items: center;
}
nav{
	background: #25A22B;
	height: 56px;

}
.nav-title{
	font-family: "Poppins-Black";
	font-size: 30px;
	color: white;
}
.logo-pic{
	margin-left: 20px;
	margin-top: 13px;
}

/* overview */
.back-button button {
	width: fit-content;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: -5px;
	text-align: left;
	background-color: #25a22b;
	font-family: 'Poppins-Bold';
}
.buttons {
	display: inline-flex;
}
.p4 {
	font-size: 50px;
	line-height: 2.5rem;
	margin-top: 20px;
	text-align: center;
	color: #25a22b;
	font-family: 'Poppins-Black';
}
.p5 {
	margin-bottom: 35px;
	font-size: 25px;
	text-align: center;
	color: #25a22b;
	font-family: 'Poppins-Regular';
}
#first-content {
	padding-left: 100px;
	padding-right: 100px;
	text-align: left;
	display: inline-flex;
	justify-content: center;
}
.title {
	font-size: 30px;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 10px;
    border-radius: 40px;
    color: white;
	width: fit-content;
    font-family:'Poppins-Black';
    background-color: #25A22B;
}
.title-team {
	font-size: 30px;
	padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 10px;
	margin-left: 100px;
    border-radius: 40px;
    color: white;
	width: fit-content;
    font-family:'Poppins-Black';
    background-color: #25A22B;
}
.description {
	font-size: 18px;
	line-height: 1.5rem;
	padding: 40px;
	padding-right: 50px;
	padding-left: 40px;
	margin-bottom: 150px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	font-family: 'Poppins-Regular';
	color: black;
	background-color: #ebebeb;
	box-shadow: -2px 5px 5px #8f8f8f;
}
.paragraph {
	text-align: justify;
}
.prototype {
	margin-top: 60px;
	box-shadow: -2px 5px 5px #8f8f8f;
}

/* developer */
.second-content {
	margin-bottom: 25px;
	display: flex;
	color: black;
	text-align: center;
	justify-content: center;
	display: block;
}
.row {
	margin-top: 25px;
	margin-bottom: 50px;
	line-height: 1.5rem;
	display: flex;
}
.dev-content1 {
	width: 800px;
	height: 300px;
	margin: 100px 100px;
	padding: 130px 12px 10px 12px;
	border-radius: 30px;
	position: relative;
	box-shadow: -2px 5px 5px #8f8f8f;
	background: #ebebeb;
}
.dev-content2 {
	width: 800px;
	height: 300px;
	margin: 100px 100px;
	padding: 130px 12px 10px 12px;
	border-radius: 30px;
	position: relative;
	box-shadow: -2px 5px 5px #8f8f8f;
	background: #ebebeb;
}
.dev-pic1 {
	margin-top: 20px;
	margin-left: 250px;
	z-index: 9;
	position: absolute;
}
.dev-pic2 {
	margin-top: 15px;
	margin-left: 950px;
	z-index: 9;
	position: absolute;
}
.dev-pic1 img, .dev-pic2 img {
	border: 3px solid #8f8f8f;
	border-radius: 50%;
}
.name {
	font-size: 30px;
	margin-bottom: 10px;
	font-family: 'Poppins-Black';
	color: black;
	text-shadow: 0px 2px 5px #8f8f8f;
}
.email, .contact-num {
	font-size: 20px;
	font-family: 'Poppins-Regular';
}
.details {
	padding-left: 50px;
	padding-right: 50px;
	font-size: 15px;
	font-family: 'Poppins-Regular';
}

/* footer */
#footer {
	padding: 15px;
	padding-left: 40px;
	padding-right: 50px;
	margin-top: auto;
	display: flex;
	color: white;
	background-image: linear-gradient(to right, #25a22b, #75E463)
}
img {
	margin-right: 5px;
}
#footer .footer-text{
	line-height: 1rem;
	margin-left: 1rem;
}
.p1 {
	font-size: 15px;
	font-family: 'Poppins-Bold';
}
.p2 {
	font-size: 13px;
	font-family: 'Poppins-SemiBold';
}
.p3 {
	font-size: 11px;
	font-family: 'Poppins-Regular';
}
button{
	font-size: 18px;
	border-radius: 30px;
	width: 8%;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: 85%;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
	font-family: 'Poppins-Regular';
	color: white;
	background: #25A22B;
}
button:hover {
	color: #676767;
    background-color: #d9d9d9;
}

@media (min-width: 768px) and (max-width: 1024px) {
	#first-content {
		padding-left: 100px;
		padding-right: 100px;
		text-align: left;
		display: block;
		justify-content: center;
	}
	.description {
		font-size: 18px;
		line-height: 1.5rem;
		margin-bottom: 10px;
		padding: 40px;
		padding-right: 50px;
		padding-left: 40px;
		border-radius: 30px;
		font-family: 'Poppins-Regular';
		color: black;
		background-color: #ebebeb;
		box-shadow: -2px 5px 5px #8f8f8f;
	}
	.prototype {
		margin-bottom: 50px;
		align-items: center;
		box-shadow: -2px 5px 5px #8f8f8f;
	}

	/* developer */
	.second-content {
		margin-bottom: 20px;
		color: black;
		text-align: center;
		justify-content: center;
	}
	.row {
		margin-top: 25px;
		margin-bottom: 50px;
		line-height: 1.5rem;
		display: block;
	}
	.dev-content1 {
		width: 650px;
		height: 300px;
		margin: 100px 100px;
		padding: 130px 12px 10px 12px;
		border-radius: 30px;
		position: relative;
		box-shadow: -2px 5px 5px #8f8f8f;
		background: #ebebeb;
	}
	.dev-content2 {
		width: 650px;
		height: 300px;
		margin: 100px 100px;
		padding: 130px 12px 10px 12px;
		border-radius: 30px;
		position: relative;
		box-shadow: -2px 5px 5px #8f8f8f;
		background: #ebebeb;
	}
	.dev-pic1 {
		margin-top: -75px;
		margin-left: 330px;
		z-index: 9;
		position: absolute;
	}
	.dev-pic2 {
		margin-top: -75px;
		margin-left: 330px;
		z-index: 9;
		position: absolute;
	}
	.dev-pic1 img, .dev-pic2 img {
		border: 3px solid #8f8f8f;
		border-radius: 50%;
	}
	.name {
		font-size: 30px;
		margin-bottom: 10px;
		font-family: 'Poppins-Black';
		color: black;
		text-shadow: 0px 2px 5px #8f8f8f;
	}
	.email, .contact-num {
		font-size: 20px;
		font-family: 'Poppins-Regular';
	}
	.details {
		padding-left: 50px;
		padding-right: 50px;
		font-size: 15px;
		font-family: 'Poppins-Regular';
	}
}